.newmember{
    flex:1;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 12px -1px #000000;
    box-shadow: 0px 0px 12px -1px #000000;
    padding: 20px;
    background-color: #ffffff;
    margin-right: 20px;
}

.newtitle{
    
    font-size: 32px;
    font-weight: 600;
    color: #274e17;
}

.newlist{
    margin: 0;
    padding: 0;
    list-style: none;
}

.newitem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.newuser{
    display: flex;
    flex-direction: column;
}

.newname{
    font-weight: 600;
}

.newteam{
    font-weight: 300;
}

.newbutton{
    display: flex;
    text-align: center;
    line-height: 2;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #274e17;
    color: #ffffff;
    cursor: pointer;
    width: 100px;
    
}

/* newmember.css */

.boldText {
    font-weight: bold;
    color: #274e17;
  }
  
  .nameValue,
  .jobValue {
    font-weight: normal; /* 이름과 직무에는 볼드 텍스트를 사용하지 않음 */
  }
  