.request{
    flex: 2;
   
    -webkit-box-shadow: 0px 0px 12px -1px #000000;
    box-shadow: 0px 0px 12px -1px #000000;
    padding: 20px;
    background-color: #ffffff;
}

.retitle{
    font-size: 32px;
    font-weight: 600;
    color: #274e17;
}

.retable{
    width: 100%;
    border-spacing: 20px;
}

.retr{

}

.reth{
    text-align: left;
}

.reuser{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.rename{
    
}

.redate,
.remenu{
    font-weight: 300;
    
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

/* request.css */

.restatus button {
    width: 100%;
    padding: 5px;
    border: none;
    cursor: pointer;
    width: 45%;
}

.restatus button:hover {
    filter: brightness(1.2); /* 마우스 호버 시 밝기 조정 */
}

.restatus button.Accept {
    background-color: #608053;
    color: white;
}

.restatus button.Denied {
    background-color: rgb(175, 117, 117);
    color: white;
    

}



